<p-table [value]="value">
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf="tipoRanking == 'pais'">País</th>
            <th *ngIf="tipoRanking == 'estado'">Estado</th>
            <th>Casos</th>
            <th>Mortes</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-value>
        <tr>
            <td *ngIf="tipoRanking == 'pais'">{{value.country}}</td>
            <td *ngIf="tipoRanking == 'estado'">{{value.state}}</td>
            <td>{{value.cases}}</td>
            <td>{{value.deaths}}</td>
        </tr>
    </ng-template>
</p-table>
